
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Random file that pops up sometimes
*.Identifier

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
touch/

#files
*.jpg
*.jpeg
*.png
*.gif
*.csv
*.txt

#folders
.vscode/
matlab/DOAExample.mlx
matlab/parameters.mat
results/comsol_doas_1.pdf
results/comsol_doas_2.pdf
results/comsol_doas_3.pdf
results/comsol_doas_4.pdf
results/comsol_doas_5.pdf
results/comsol_doas_6.pdf
results/ideal_signal_comparison_22kHz_att20dB.pdf
results/ideal_signal_comsol.pdf
results/ideal_signal_comsol2.pdf
results/physical_doas_1.pdf
results/physical_doas_2.pdf
results/physical_tests_setup.pdf
results/measurement_results/ideal_signal_comparison_22kHz_att20dB.pdf
results/measurement_results/ideal_signal_comsol.pdf
results/measurement_results/ideal_signal_comsol2.pdf
results/measurement_results/measurements_doas_1.pdf
results/measurement_results/measurements_doas_2.pdf
results/measurement_results/measurements_doas_3.pdf
results/measurement_results/measurements_doas_4.pdf
results/measurement_results/measurements_doas_5_x50y20.pdf
results/measurement_results/measurements_doas_5_x55y30.pdf
results/measurement_results/measurements_doas_5_x55y40.pdf
results/measurement_results/physical_tests_setup.pdf
